@media (prefers-color-scheme: dark) {
    body {
        background-color: #282424;
         color: #ffffff;
    }
}

.markdown-body img {
    background-color: transparent;
}

.my-5 {
    margin-top: 0px !important;
}
