:root {
    --secondary-color: #ffffff;
    --accent-color: #1f1f1f;
    --text-color: #cc6600;
    --border-color: #cc6600;
}

@font-face { 
    font-family: unitblock; 
    font-display: swap;
    src: url('../font/Unitblock.otf');
}

html {
    font-family: unitblock;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}


body {
    background-color: var(--accent-color);
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 99%;
    height: 99%;
}

a {
    color: var(--secondary-color);
}


h1 {
    font-size: 9em;
    margin: 0px;
    text-align: start;
}

h2{
    font-size: 3em;
    margin: 0px;
    text-align: start;
}

h4 {
    font-size: 2em;
    margin: 0px;
    text-align: start;
}


a, a:hover {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
    padding-bottom: 30px;
    width: 80%;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1vw;
    padding-bottom: 30px;
}

.items-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2vh;
}

.items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.items.links {
    padding-left: 10px;
}


.items.header {
    flex-direction: column;
}

.items.links > *, .items.socials   {
    border-left: 5px solid var(--text-color);
    padding-left: 10px;
    transition: border-left 0.2s;
}

.items.links > *:hover , .items.socials:hover {
    transition: border-left 0.2s;
    border-left: 5px solid white;
}

.items.links > *   {
    width: 100%;
}

.items.header h1 , .items.header summary h2 , .items.header details h4 {
    color: var(--text-color);
}

.items.header:not([open]) h4 {
    color: white;
}

.items.header summary h4 {
    border-left: 5px solid white;
    padding-left: 10px;
    color: white;
}

.items.header:not([open]) summary > * {
    color: white;
    border-left: 5px solid var(--text-color);
    transition: border-left 0.2s;
}

.items.header:not([open]) summary h4:hover {
    border-left: 5px solid white;
    transition: border-left 0.2s;
}



details > summary {
    cursor: pointer;
    list-style: none;
}

details[open] > summary {
    padding-bottom: 1vh;
}

.stroke {
    stroke: transparent;
    fill: white;
}

.fill {
    stroke: white;
    fill: transparent;
}

@media screen and (max-width: 700px) {
    
    body {
        width: 98%;
    }

    h1 {
        font-size: 20vw;
        margin: 0px;
    }

    h2 {
        font-size: 13vw;
        margin: 0px;
    }
    
    .heading h3 {
        font-size: 3.5em;
    }
    
    h3 {
        font-size: 13vw;
        margin: 0px;
    }
    
    h4 {
        font-size: 6vw;
        margin: 0px;
    }

    
}
