:root {
    --accent-color: #1f1f1f;
    --secondary-color: #ffffff;
    --text-color: #cc6600;
}

@font-face { 
    font-family: unitblock; 
    src: url('../font/Unitblock.otf'); 
}

body {
    background-color: var(--accent-color);
    color: var(--text-color);
}

a {
    color: var(--secondary-color);
}

html {
    font-family: unitblock;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

h1 {
    font-size: 5em;
    margin: 0px;
}

h2 {
    font-size: 4em;
    margin: 0px;
}

h3 {
    font-size: 3em;
    margin: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.heading {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1px;
    margin-left: 10px;
    
}

.title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-wrap: nowrap;
}

.title h1 {
    font-size: 5.1em;
}

.heading h3 {
    margin-bottom: -1.2em;
    font-size: 1.5em;
}

.title h2 {
    font-size: 1.5em;
    color: var(--secondary-color);
}

@media screen and (min-width: 760px) {
    .title h1 {
        font-size: 10em;
    }
    .title h2 {
        font-size: 4em;
    }
    .heading h3 {
        font-size: 2em;
        margin-bottom: -1.8em;
    }
    
}