:root {
    --accent-color: #cc6600;
    --secondary-color: #ffffff;
    --text-color: #1f1f1f;
}

@font-face { 
    font-family: unitblock; 
    src: url('../font/Unitblock.otf'); 
}

body {
    background-color: var(--accent-color);
    color: var(--text-color);
}

a {
    color: var(--secondary-color);
}

html {
    font-family: unitblock;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

h1 {
    font-size: 5em;
    margin: 0px;
}

h2 {
    font-size: 2em;
    margin: 0px;
}

h3 {
    font-size: 1.5em;
    margin: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 15px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.container h2 {
    text-shadow:
    1px 1px 0 var(--accent-color),
  -1px -1px 0 var(--accent-color),  
   1px -1px 0 var(--accent-color),
   -1px 1px 0 var(--accent-color),
    1px 1px 0 var(--accent-color);
}



.box {
    position: absolute;
    bottom: 1px;
    right: 1px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: linear-gradient(
     135deg,
     var(--secondary-color) 10%,
      transparent 10%,
      transparent 50%,
      var(--secondary-color) 50%,
      var(--secondary-color)  60%,
      transparent 60%,
      transparent 100%
    );
    background-size: 640px 640px;
    animation: animate 60s linear infinite;
  }
  
  @keyframes animate {
    0% {
      background-position: 0;
    }
    100% {
      background-position: 640px;
    }
  }