<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <title>neropako</title>
</head>
<body>    
    <div class="container-lg px-3 my-5 markdown-body">
        {{ content }}
        
        <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
            Layout inspired by
            <a target="_blank" href="https://github.com/markavitale/markavitale.github.io"> Mark A Vitale</a>
        </div>
    </div>
</body>
</html>
